@import "https://use.fontawesome.com/releases/v5.14.0/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Italianno&family=Lovers+Quarrel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* html {
    scroll-behavior: smooth;
} */

body {
    height: 100vh; /*full screen */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: rgb(27 136 136);
    background-image: url(https://www.wallpapertip.com/wmimgs/6-63218_900566-title-anime-black-clover-charmy-pappitson-black.png);
}

.heading {
    font-size: 70px;
    font-family: 'Merriweather', serif;
    letter-spacing: 1px;
}

.zip-code {
    font-family: 'Source Serif Pro', serif;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-right: 2px;
    padding-bottom: 25px;
    padding-left: 2px;

}

/* the "zip code:" text*/
label[for="zip"] {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 4px;
}

.envelope-icon {
    font-size: 16px;
    color: #fff;
    text-shadow: 2px 1px 1px #ccc;
    padding: 4px;
    margin-top: 2px;
    margin-right: 6px;
}

/*enter zip code here box*/
#zip {
    font-family: 'Source Serif Pro', serif;
    background-color: #eeeef3f5;
    padding: 4px;
}

textarea.write-feels {
    font-family: 'Source Serif Pro', serif;
    padding: 4px;
    background-color: #eeeef3f5;
}

button {
    font-size: 14px;
    font-family: 'Source Serif Pro', serif;
    color: #e2dede;
    width: 100%;
    text-transform: uppercase;
    border: 2px solid #17807be0;
    background-color: #198686e0;
    padding: 8px;
    margin-top: 7px;
    margin-bottom: 11px;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2), 0 6px 80px 0 rgba(0,0,0,0.19);
}

button:hover {
    background-color: #299c7f96;
    color: #fffee4;
    box-shadow: 0 8px 6px 0 rgba(0,0,0,0.2), 0 12px 80px 0 rgba(0,0,0,0.19)
}

.info-icons {
    font-size: 15px;
    color: rgb(8 58 58);
    background-color: #ffffffde;
    padding: 15px;
}

.response-detail {
    display: flex;
    align-items: center;
    color: #000000;
    font-family: 'Source Serif Pro', serif;
    overflow-wrap: break-word;
    max-width: 150px;
}

.response-detail i {
    text-align: center;
    color: #156b5f;
    text-shadow: 2px 1px 1px #ccc;
    width: 30px;
    margin-right: 6px;
}

footer {
    font-family: 'Charm', cursive;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 25px;
    margin-top: 20px;
    border-radius: 20px;
}

footer span {
    background-color: #000000a6;
    color: #fff;
}

@media screen and (max-width: 800px) {
    .heading {
        display: flex;
        width: 50%;
        justify-content: center;
    }

    body {
        padding: 20px;
    }
}